.header-right-container {
  display: grid;
  grid-template-columns: 1fr 24px;
  gap: 16px;
  align-items: center;
  width: 130px;
}
.sigin {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12.8px;
  color: #303538;
  font-weight: bold;
  width: 48px;
}

.login {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12.8px;
  color: #303538;
  font-weight: bold;
  width: 48px;
}

.join {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 0 24px;
  background-color: black;
  color: white;
  text-align: center;
  border: none;
  border-radius: 9999999px;
  position: relative;
  cursor: pointer;
  height: 48px;
}

.badge {
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  background-color: #cdfeee;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  right: -1px;
  text-align: center;
  top: -6px;
  align-items: center;
  display: grid;
  color: #303538;
}

.group {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}
