.preview-container {
  display: grid;
  grid-template-columns: 60px 500px;
  gap: 16px;
  border-radius: 16px;
}
.preview-slider {
  display: grid;
  grid-template-rows: repeat(auto-fit, 60px);
  gap: 16px;
}
.preview-slider-container-img {
  border-radius: 8px 8px 8px 8px;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.input {
  display: none;
}
.img-border {
  border: 1px solid black;
}
