.card {
  width: 340px;
  cursor: pointer;
  /* border-radius: 5px; */
}

.card-img {
  /* border-radius: 5px 5px 0 0; */
  object-fit: cover;
  background-color: #f5f5f5;
}

.container {
  padding: 8px 0;
  height: 120px;
  display: grid;
  grid-template-rows: repeat(auto-fit, 24px);
  margin-top: 8px;
  align-content: start;
}

.title {
  font-size: 16px;
  margin: 0px;
  font-family: "Poppins-Medium";
}
.tag {
  color: #767677;
  font-family: "Poppins-Medium";
  font-size: 13px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.price {
  font-size: 16px;
  color: #111111;
  font-weight: 700;
  font-family: "Poppins-Medium";
  margin-top: 8px;
}
h4 {
  all: unset;
}
h5 {
  all: unset;
}
a {
  all: unset;
}
