.product {
  width: 100%;
  display: grid;
  justify-items: center;
}
.product-container {
  display: grid;
  grid-template-columns: 1fr 450px;
  justify-items: center;
  margin-top: 36px;
  max-width: 1200px;
  width: 100%;
}
.product-img {
  width: 400px;
}

.title {
  font-size: 24px;
  color: black;
}
.subtitle {
  font-size: 16px;
  font-weight: 700;
}
.price {
  font-size: 16px;
}
.product-img {
  border-radius: 8px;
}
.size-content-table {
  display: grid;
  grid-template-columns: repeat(auto-fit, 70px);
  gap: 7px;
}
.size-content {
  display: grid;
  grid-template-rows: 30px 1fr;
  height: 96px;
  margin-top: 36px;
}
.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.button-add-cart {
  width: 100%;
  background-color: #111111;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 30px; /* Aplica bordes redondeados */
  border: none; /* Quita el borde */
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  width: 390px;
  height: 60px;
  margin-top: 36px;
}
.product-information {
  width: 450px;
  padding: 16px 48px 16px 48px;
}
.content-value {
  height: 48px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.description-container {
  margin-top: 24px;
  padding: 16px;
  display: grid;
  grid-template-rows: 50px 1fr;
}
.description-title {
  font-size: 16px;
  font-weight: 500;
}
.color-container {
  margin-top: 36px;
}

.content-color {
  display: grid;
  grid-template-columns: repeat(auto-fit, 60px);
  gap: 16px;
  margin-top: 24px;
}
.img-border {
  border: 1px solid black;
}
