.search-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  background-color: white;
  margin-top: 32px;
}
.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 340px);
  grid-gap: 8px;
  grid-auto-flow: dense;
}

@media (max-width: 650px) {
  .search-container {
    display: grid;
    grid-template-rows: 550px 1fr;
    grid-template-columns: 1fr;
    background-color: white;
    margin-top: 32px;
    justify-items: center;
  }
}
